#filter-time, #filter-location {
  margin: 2%;
  font-size: 15px;
  font-family: inherit;
  border: none;
  border-radius: 30em;
  color: #000000;
  overflow: hidden;
  background: #FAF9F6;
  z-index: 1;
  box-shadow: 6px 6px 12px #c6c5c0,
              -6px -6px 12px #f1efea;
 }
 #filter-container {
  margin: 2%;
  height: 3em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  border-radius: 30em;
  padding: 30px;
  color: #000000;
  overflow: hidden;
  background: #FAF9F6;
  z-index: 1;
  box-shadow: 6px 6px 12px #c6c5c0,
              -6px -6px 12px #f1efea;
 }
 option {
   background: #FAF9F6;
 }
 
.calendar {
  background-color: #FAF9F6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
@media {
  .calendar {
    width: 100%;
    margin: 0 10px;
    font-size: 120%;
  }
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #000000;
}
.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
}
#month-year {
  font-size: 1.2em;
  font-weight: bold;
}
.calendar-weekdays, .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-weekdays div, .calendar-dates div {
  text-align: center;
  padding: 10px;
}
.calendar-weekdays {
  background-color: #FAF9F6;
}
.calendar-weekdays div {
  font-weight: bold;
}
.calendar-dates div {
  border-bottom: 1px solid #FAF9F6;
  cursor: pointer;
}
.calendar-dates div:hover {
  background-color: #f1efea;
  border-radius: 20px;
  transition: .5s ease;
}
.current-date {
  background-color: #c6c5c0;
  color: #000000;
  border-radius: 50%;
}
#event-list {
  display: flex; 
  width: 100%; 
  margin-top: 20px; 
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  overflow-x: auto;
  padding: 10px 0;
}

#event-list::-webkit-scrollbar {
  display: none; 
}

.event-item {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  background: #ffffff;
  border-radius: 5px;
  flex: 0 0 auto;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

