.calendar {
    width: 100%;
    height: auto;
    background: #4571b200;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  
  .calendar table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar th,
  .calendar td {
    text-align: center;
    padding: 10px;
    border: 1px solid #00000000;
  }
  
  .calendar td {
    cursor: pointer;
  }
  
  .calendar td:hover {
    background-color: #305f9e;
    border-radius: 50px;
  }
  
  .events {
    width: 200px;
    height: max-content;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  
  .events ul {
    list-style: none;
    padding: 0;
    color: white;
  }
  .container2 {
    display: flexbox;
    align-items: center;
    justify-content: center;  /* Center the items horizontally */
    flex-wrap: wrap;          /* Allow wrapping of items */
    scrollbar-width: none;    /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
    scroll-behavior: smooth;  /* Smooth scrolling */
    padding: 10px;               /* No padding around the container */
    margin: 0px;                /* No margin around the container */
  }
  
  .container2::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
  }

  #event-list {
    display: flex;
    flex-wrap: wrap;
 /* Optional: adds space between items */
    justify-content: flex-start; /* Or 'center' to center the items */
  }
  .container2 {
    overflow-y: auto;
    max-height: 500px; /* Example: Set a max-height to enable scrolling */
    padding: 10px;
  }
      
