.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
.ice {
  padding: 20px;
  margin: 20px;
  box-shadow: 6px 6px 12px #c6c5c0, -6px -6px 12px #f1efea;
  background-color: #FAF9F6;
  border-radius: 20px;
  transition: all 0.5s;
}
.ice:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: scale(1.05);
}
.container::-webkit-scrollbar {
  display: none;
}

.item1 {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: #FAF9F6;
  box-shadow: 6px 6px 12px #c6c5c0, -6px -6px 12px #f1efea;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: #000000;
  overflow: hidden;
  margin: 20px;
  flex: 0 0 auto;
}
.item2 {
  box-sizing: border-box;
  width: 190px;
  height: 60px;
  background: #FAF9F6;
  box-shadow: 6px 6px 12px #c6c5c0, -6px -6px 12px #f1efea;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: #000000;
  overflow: hidden;
  margin: 20px;
  flex: 0 0 auto;
}
.item1:hover, .item2:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: scale(1.05);
}

.item1:active, .item2:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.bottomtag {
  margin-top: 4%;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 2px solid #c6c5c0;
}
.container::-webkit-scrollbar {
  display: none;
}

p {
  text-align: center; 
  margin: 0;          
  font-size: 1rem;    
}

.section {
  display: flex-box;
  justify-content: center;
  text-align: center;
}

button {
  width: 9em;
  margin: 2%;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  color: #000000;
  overflow: hidden;
  background: #FAF9F6;
  z-index: 1;
  box-shadow: 6px 6px 12px #c6c5c0,
              -6px -6px 12px #f1efea;
 }
 
 button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #f1efea 0%, #c6c5c0 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 9em;
 }
 .header {
  box-shadow: 0px 6px 12px #c6c5c0;
  backdrop-filter: blur(10px);
  border-radius: 0px;
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin: -10px;
  background-color: #FAF9F6;
  z-index: 2;
 }
 body {
  background-color: #FAF9F6;
  justify-content: center;
  text-align: center;
  font-family: "Outfit", serif;
  color: #000000;
 }
 h1 {
  margin: -10px;
  color:#000000;
 }
 #text3d {
  margin: 20px;
  font-size: 500%;
 }
h2 {
  color:#000000;
  margin-top: 10px;
}
.between {
  height: 75px;
  background: #FAF9F6;
  margin: -10px;
  box-shadow: 0px 6px 12px #f1efea;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.section {
  box-shadow: 0px 6px 12px #c6c5c0;
  backdrop-filter: blur(10px);
  border-radius: 0px;
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin: -10px;
  background-color: #FAF9F6;
  z-index: 2;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
}
.events {
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  scroll-behavior: smooth; 
  padding: 0; 
  margin: 5px; 
}
html {
  background-color: #FAF9F6;
}
a {
  color: #000000;
  text-decoration: none;
}
.foot {
  margin: 50px;
}
